@import '~@angular/material/theming';
@import './app/navigation/navtabs/navtabs.component-theme.scss';
@import './app/navigation/sidenav-list/sidenav-list.component-theme.scss';

@include mat-core();


$horizon-primary: (
  50 : #e0f6fa,
  100 : #b3e8f2,
  200 : #80d8e9,
  300 : #4dc8e0,
  400 : #26bdd9,
  500 : #00b1d2,
  600 : #00aacd,
  700 : #00a1c7,
  800 : #0098c1,
  900 : #0088b6,
  A100 : #dff6ff,
  A200 : #ace7ff,
  A400 : #79d8ff,
  A700 : #5fd1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$horizon-accent: (
  50 : #fffbe5,
  100 : #fef4be,
  200 : #feed93,
  300 : #fee668,
  400 : #fde047,
  500 : #fddb27,
  600 : #fdd723,
  700 : #fcd21d,
  800 : #fccd17,
  900 : #fcc40e,
  A100 : #ffffff,
  A200 : #fffcf3,
  A400 : #ffefc0,
  A700 : #ffe8a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$horizonhotel-primary: mat-palette($horizon-primary, 700, 300, 900);
$horizonhotel-accent:  mat-palette($horizon-accent, 700);

$horizonhotel-warn:    mat-palette($mat-red);

$horizonhotel: mat-light-theme((
  color: (
    primary: $horizonhotel-primary,
    accent: $horizonhotel-accent,
    warn: $horizonhotel-warn,
  )
));

@include angular-material-theme($horizonhotel);

// navtabs component scss file
@include navtabs-component-theme($horizonhotel);

// sidenav-list component scss file
@include sidenav-list-component-theme($horizonhotel);

////////////////////////////////////////////////////
// all styles go here

$horizon-typography: mat-typography-config(
  $font-family:   'Rubik, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(97.54px, 32px, 400),
  $title:         mat-typography-level(61px, normal, 500),
  $subheading-2:  mat-typography-level(48.77px, normal, 400),
  $subheading-1:  mat-typography-level(34.54px, normal, 400),
  $body-2:        mat-typography-level(14.22px, normal, 500),
  $body-1:        mat-typography-level(16.26px, normal, 400),
  $caption:       mat-typography-level(12.19px, normal, 400),
  $button:        mat-typography-level(14.22px, normal, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($horizon-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($horizon-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($horizon-typography);

@include mat-core($horizon-typography);
